 <header class="sitio-header">
        <div class="contenedor nav-contenedor">
            <a href="index.html" class="logotipo" aria-label="Elena Gregorio Hurtado - Inicio">
               <img src="{{ site.baseurl }}/img/egh logotipo dorado minimalista.svg" alt="EGH Consultoría Digital Logotipo" class="logo-icono-mini" width="42" height="42">
                <span class="logo-texto"><span class="resaltado">E</span>lena <span class="resaltado">G</span>regorio <span class="resaltado">H</span>urtado</span>
            </a>

            <button class="menu-toggle" id="menuToggle" aria-label="Abrir menú de navegación" aria-expanded="false">
    <span class="barra"></span><span class="barra"></span><span class="barra"></span>
</button>
            <nav class="menu-navegacion" id="menuNavegacion">
                <a href="index.html" class="enlace-nav activo">Inicio</a>
                <a href="sobre-mi.html" class="enlace-nav">Quien soy</a>
                <a href="servicios.html" class="enlace-nav">Servicios</a>
                <a href="metodo-goya.html" class="enlace-nav">Método Goya</a>
                <a href="contacto.html" class="enlace-nav enlace-contacto">Contacto</a>
            </nav>
        </div>
    </header>
